.leaflet-control-tilelegend *,
.leaflet-control-tilelegend {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}
.tilelegend-content {
    display: none;
}
.tilelegend-expended .tilelegend-content {
    display: block;
}
.tilelegend-expended .leaflet-control-tilelegend {
    box-shadow: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    height: 100%;
    width: 320px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    font-family: sans-serif;
}
.tilelegend-expended > .leaflet-control-container > .leaflet-bottom,
.tilelegend-expended > .leaflet-control-container > .leaflet-right {
    height: 100%;
    width: 100%;
}

.tilelegend-maximized .leaflet-control-tilelegend {
    width: 100%;
}
.leaflet-control-tilelegend ul {
    list-style: none;
    padding: 0;
    display: none;
}
.tilelegend-maximized ul,
.leaflet-control-tilelegend .expended ul {
    display: block;
}
.leaflet-control-tilelegend .tilelegend-header {
    padding: 0 20px;
}
.leaflet-control-tilelegend h4 {
    color: #747474;
    cursor: pointer;
}
.leaflet-control-tilelegend h4:before {
    content: '▶ ';
}
.tilelegend-maximized h4:before,
.leaflet-control-tilelegend .expended h4:before {
    content: '▼ ';
}
.leaflet-control-tilelegend h1 {
    margin-top: 0;
    padding-top: 20px;
    font-size: 1.5em;
}
.leaflet-control-tilelegend .tilelegend-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
}
.leaflet-control-tilelegend p {
    margin: 0;
    padding: 5px;
    font-size: 0.9em;
}
.leaflet-control-tilelegend li {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #eee;
}
.tilelegend-map {
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.leaflet-control-tilelegend li .tilelegend-zoom-to {
    background-image: url('zoom_to.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #f1f2f3;
    opacity: 0.6;
    cursor: pointer;
}
.leaflet-control-tilelegend li:hover .tilelegend-zoom-to {
    display: block;
}
.tilelegend-key {
    padding: 10px;
}
.tilelegend-section {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}
.tilelegend-toolbox {
    display: inline-block;
}
.tilelegend-minimize,
.tilelegend-maximize,
.tilelegend-close {
    background-image: url('./toolbox.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.tilelegend-minimize {
    background-position: left center;
}
.tilelegend-close {
    background-position: right center;
    display: none;
}
.tilelegend-expended .tilelegend-minimize,
.tilelegend-maximized .tilelegend-maximize {
    display: none;
}
.tilelegend-maximized .tilelegend-minimize,
.tilelegend-expended .tilelegend-close {
    display: inline-block;
    display: inline-block;
}
.tilelegend-expended .tilelegend-toolbox {
    position: absolute;
    top: 5px;
    right: 20px;
}
.tilelegend-attribution {
    margin-right: 5px;
}
.tilelegend-expended .tilelegend-attribution,
.tilelegend-expended .tilelegend-prefix {
    display: none;
}